body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 50px;
  width: 390px;
  background-color: white;
  padding: 25px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 1px 8px 0px #cdcaca;
}

.panel .question {
  text-align: center;
}

.panel .ratings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ratings img {
  width: 70px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 36px;
  margin-top: 22px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.rating:hover,
.rating.active {
  box-shadow: 2px 2px 8px 0px #cdcaca;
}

.panel .send-btn {
  background-color: #333;
  color: #fff;
  margin-top: 30px;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.panel .send-btn:active {
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}

.response {
  text-align: center;
}

.response > * {
  margin-bottom: 5px;
}

.heart-icon {
  color: #dc0a0a;
  font-size: 2rem;
}
