* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}

.nav-items h1,
.text h1 {
  color: red;
  font-variant: small-caps;
  font-size: 2rem;
}

nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav .nav-btn span {
  font-size: 30px;
  margin: 4px;
}

.nav-btn {
  cursor: pointer;
}

nav.active .nav-btn {
  opacity: 0;
  transition-delay: 0.3s;
}
ul {
  list-style-type: none;
}

.nav-items li {
  line-height: 3;
}

.nav-items ul ul li {
  padding-left: 20px;
}

nav .close-btn span {
  font-size: 30px;
  margin: 4px;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}

.nav-items,
.layer-1,
.layer-2 {
  padding: 20px;
  padding-right: 40px;
  position: absolute;
  top: 0;
  height: 100%;
  transition-duration: 0.5s;
}

.nav-items {
  width: 250px;
  background-color: #fff;
  left: -250px;
  transition-delay: 0;
}

.layer-1 {
  background-color: black;
  width: 270px;
  position: absolute;
  top: 0;
  left: -270px;
  transition-delay: 0.2s;
}
.layer-2 {
  background-color: red;
  width: 290px;
  position: absolute;
  top: 0;
  left: -290px;
  transition-delay: 0.4s;
}

nav.active .nav-items,
nav.active .layer-1,
nav.active .layer-2 {
  left: 0;
}

nav.active .nav-items {
  transition-delay: 0.4s;
}

nav.active .layer-1 {
  transition-delay: 0.2s;
}

nav.active .layer-2 {
  transition-delay: 0s;
}

@media (max-width: 400px) {
  nav.active .nav-items {
    min-width: calc(100vw - 40px);
  }
  nav.active .layer-1 {
    min-width: calc(100vw - 20px);
  }
  nav.active .layer-2 {
    min-width: calc(100vw);
  }
}
