.container {
    width: 98vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
}


.container .box:nth-child(1) {
    background-image: url(pexels-frans-van-heerden-688890.jpg);
}

.container .box:nth-child(2) {
    background-image: url(pexels-rajagopalan-ramachandran-1763808.jpg);
}

.container .box:nth-child(3) {
    background-image: url(pexels-chattrapal-\(shitij\)-singh-2989628.jpg);
}

.container .box:nth-child(4) {
    background-image: url(pexels-tembela-bohle-940916.jpg);
}

.container .box {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 570px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition-duration: 1s;
}

.container .box.active {
    flex: 1;
}