
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: lightgreen;
}

.add {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
}

.container .note {
    width: 300px;
}

.container textarea {
    border: none;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 1.2rem;
    max-width: 100%;
    min-height: 220px;
}

.note .sec-1 {
    background: lightcoral;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.sec-1 i {
    cursor: pointer;
    padding: 10px;
}

.sec-2 {
    background: #fff;
    min-height: 220px;
    display: none;
    padding: 25px 10px;
}