* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid #3e54ac;
}

.toolbox {
  background-color: #3e54ac;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
}

.toolbox > *:last-child {
  margin-left: auto;
}
