body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    cursor: pointer;
    padding: 20px 30px;
    outline: none;
    background: purple;
    color: white;
    border: none;
    font-size: 2rem;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button span.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;
    background-color: white;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -webkit-animation: scale .5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        -webkit-transform: translate(-50%, -50%) scale(3);
        -moz-transform: translate(-50%, -50%) scale(3);
        -ms-transform: translate(-50%, -50%) scale(3);
        -o-transform: translate(-50%, -50%) scale(3);
    }
}